@model NotesApp.Models.NoteDateViewModel

@{
    ViewData["Title"] = "My Notes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My Notes</h1>

<p class="mt-3 mb-3">
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<form asp-controller="Notes" asp-action="Index" method="get">
    <p>
        <div class="row mb-3">
            <div class="col-md-3 mb-2">
                Search: <input type="text" name="SearchString" />
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 mb-2"
                        <label>Start Date:</label>
                        <input type="date" asp-for="StartDate" />
                    </div>
                    <div class="col-md-6 mb-2">
                        <label>End Date:</label>
                        <input type="date" asp-for="EndDate" />
                    </div>
                </div>
                
            </div>
        </div>
        <input type="submit" value="Search" />
    </p>
</form>

<div class="row">

    @foreach (var item in Model.Notes!)
    {
        <div class="card m-3" style="width: 18rem;">
            <a asp-action="Details" asp-route-id="@item.Id">
                @if (!string.IsNullOrEmpty(item.ImageFileName))
                {
                    <img class="card-img-top" src="~/images/@item.ImageFileName" alt="Card image cap">
                }

                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">@item.Description</p>
                    <p class="card-text"><strong>Created:</strong> @item.CreatedDate.Value.Date.ToString("MMMM dd, yyyy")</p>
                    @if (item.LastEdited != null)
                    {
                        <p class="card-text"><strong>Last Edited:</strong> @item.LastEdited.Value.Date.ToString("MMMM dd, yyyy")</p>
                    }
                </div>
            </a>
        </div>
    }

</div>

@* <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Notes![0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes![0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes![0].CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes![0].LastEdited)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Notes!)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @(item.LastEdited != null ? @Html.DisplayFor(modelItem => item.LastEdited) : null)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table> *@
