@model NotesApp.Models.NoteDateViewModel

@{
    ViewData["Title"] = "My Notes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My Notes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Notes" asp-action="Index" method="get">
    <p>
        <select asp-for="NoteDate" asp-items="Model.Dates">
            <option value="">All</option>
        </select>

        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Notes![0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes![0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes![0].CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Notes!) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
